<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
    <link rel="stylesheet" type="text/css" href="/css/form-login.css" />
</head>
<body>
    <form action="/" method="post" >
        <div>
            <h1>Sign</h1>
            <p><input type="text" name="id" autofocus placeholder="Id"></p>
            <p><input type="password" name="pw" placeholder="Password"></p>
            <button type="submit">submit</button><br><br>
            <a href="/">Go to main</a> | <a href="/login">Do you want login?</a>
        </div>
    </form>
</body>
</html>