<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/form-login.css" />
</head>
<body>
    <form action="/login" method="post">
        <h1>Login</h1>
        <p><input type="text" name="id" autofocus placeholder="ID"></p>
        <p><input type="password" name="pw" placeholder="PASSWORD"></p>
        <button type="submit">submit</button><br><br>
        <a href="/">Go to main</a> | <a href="/create">Do you want join?</a>
    </form>
    </p>
</body>
</html>